# 系统文件
.DS_Store
Thumbs.db

# 依赖目录
node_modules/

# 构建产物
/dist/
/.cache/
/.npm/
/vue.config.js.*.lock

# 环境变量文件
.env.local
.env.development.local
.env.test.local
.env.production.local

# 依赖安装文件
/package-lock.json
/yarn.lock

# 其他
.idea/
.vscode/
*.log
